
.tab {
    overflow: hidden;
    border: 2px solid var(--title);
    border-radius: 20px;
    text-align: center;
    font-family: var(--text-font-title);
}
  
/* Style the buttons inside the tab */
.tabitem {
    float: none;
    outline: none;
    cursor: pointer;
    margin: 0 10px;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 17px;
    display: inline-block;
    list-style: none;
}
  
/* Change background color of buttons on hover */
.tabitem:hover {
    background-color: var(--title-half);
}
  
/* Create an active/current tablink class */
.tabitem-active {
    background-color: var(--title);
}

/* Style the tab content */
.tabcontent {
    /* display: none; */
    padding: 6px 12px;
    /* border: 2px solid var(--border); */
    border-top: 0;
}