*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body {
    background: var(--bg);
    color: var(--text);
    overflow: hidden;
    overflow-y: scroll;
    font-family:var(--text-font-content);
}