.navbar{
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: sticky;
    top: 0;
    z-index: 3;
    background: var(--section);
    color: var(--bg);
    font-family: var(--text-font-title);
}

.logo{
    object-fit: cover; /*--maintain ratio*/
    height: 4rem;
    width: 4rem;
}

.desktopMenuListItem{
    margin: 0 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: var(--title);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid var(--bg);
}

.desktopMenuButton {
    /* background: white ; */
    /* color: black; */
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 2px solid var(--bg); 
    border-radius: 20px;
    background-color: transparent;
    color: var(--bg); /* Dark text color */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.desktopMenuImg {
    height: 1.5rem;
    width: auto;
    margin-right: 0.5rem;
}

.active{
    color: var(--title);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid var(--bg);
}