<style>
    .img-center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    
    .row {
      display: flex;
      flex-wrap: wrap;
      padding: 7px;
    }
    
    .column {
      float: none;
      padding: 20px;
    }
    
    .left {
      width: 30%;
    }
    
    .right {
      width: 70%;
    }
    
    @media screen and (max-width: 600px) {
      .column {
        flex: 100%;
      }
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    .tab {
      overflow: hidden;
      background-color: rgb(20,20,20);
      border: 2px solid rgb(20,20,20);
      border-radius: 25px;
      text-align: center;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
      background-color: inherit;
      float: none;
      outline: none;
      cursor: pointer;
      padding: 10px 25px;
      transition: 0.3s;
      font-size: 17px;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: var(--tertiary);
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
      background-color: var(--border);
    }
    
    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      /* border: 2px solid var(--border); */
      border-top: 0;
    }
</style>
    
    <!-- <img class="image-center" width="600" alt="Hey! This is Yuhan~" src="/img/intro/name.svg">
    &nbsp; -->
    <div class="row">
      <div class="column left">
        <img width="200" alt="personal photo" src="/img/intro/selfie.png">
        <div class="social-icons">
          <a href=mailto:ywang70@smith.edu target=_blank rel="noopener noreferrer me" title=Email><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 21" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1.0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1.0-2-.9-2-2V6c0-1.1.9-2 2-2z"/><polyline points="22,6 12,13 2,6"/></svg></a>
          <a href=https://www.linkedin.com/in/yuhan-wang-yw/ target=_blank rel="noopener noreferrer me" title=Linkedin><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6z"/><rect x="2" y="9" width="4" height="12"/><circle cx="4" cy="4" r="2"/></svg></a>
          <a href=https://github.com/yuhanwww target=_blank rel="noopener noreferrer me" title=Github><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37.0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44.0 0020 4.77 5.07 5.07.0 0019.91 1S18.73.65 16 2.48a13.38 13.38.0 00-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07.0 005 4.77 5.44 5.44.0 003.5 8.55c0 5.42 3.3 6.61 6.44 7A3.37 3.37.0 009 18.13V22"/></svg></a>
          <a href="/pdf/Curriculum_Vitae_Yuhan_Wang.pdf" target=_blank rel="noopener noreferrer me" title=Cv><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4v16a2 2 0 002 2h12a2 2 0 002-2V8.342a2 2 0 00-.602-1.43l-4.44-4.342A2 2 0 0013.56 2H6A2 2 0 004 4z"></path><path d="M9 13h6"></path><path d="M9 17h3"></path><path d="M14 2v4a2 2 0 002 2h4"></path></svg></a>
        </div>
      </div>
      <div class="column right">
        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'Intro')" id="defaultOpen">Intro</button>
          <button class="tablinks" onclick="openCity(event, 'Academic')">Academic</button>
          <button class="tablinks" onclick="openCity(event, 'Funsies')">Funsies</button>
        </div>
        
        <div id="Intro" class="tabcontent">
          <p style="padding: 20px;">
            I am a junior at Smith College, double majoring in Art History & Computer Science.
            <br/><br/>
            I love to explore the intersection between art and technology-- generally fields that involve visual elements, creativity, and human aspects, like digital art, interface design, and virtual exhibitions.
            <br/>
            <a style="font-style: italic;">*Fun fact: I can't stop when start creating something digital, like making this web page.</a>
            <br/><br/>
            I enjoy solving design challenges and reflecting through the process to gain insights! Currently, I work as a studio design partner at the Smith College <a href="/posts/dti/" style="color:var(--text-em)">Design Thinking Initiative</a>, and am also a research assistant at the Prof. Christophe Golé's <a href="/projects/phoyllotaxis/" style="color: var(--text-em);">Phyllotaxis Plant Lab</a>.
          </p> 
        </div>
        
        <div id="Academic" class="tabcontent">
          <p style="padding: 20px;">
            My main focus is Human Computer Interaction, Software Engineering, and Machine Learning.
            <br/><br/>
            Majoring in both art history and computer science allows me to develop interdisciplinary problem solving skills, to integrate information, methods of inquiry, research skills, and experiential learning. I have a huge passion for visual elements, which is closely connected to my enthusiasm in interface design and digital humanity.
            <br/><br/>
            In the next 10 years, I see myself pursuing a higher degree and working in a field that explores the design and use of technology. 
          </p> 
        </div>
        
        <div id="Funsies" class="tabcontent">
          <p style="padding: 20px;">
            I love design and creation (both physical and digital). For physical creations, thanks to my working at DTI, I learned to do crochet, sewing, woodwork, and operate machines like laser cutter, vinyl cutter, and 3d printer. For digital creations,  You can have a peek at the things that I made at <a href="/gallery/" style="color: var(--text-em);">Gallery</a> Page, or see more at my creations <a href="https://www.instagram.com/yaaaarth/" style="color: var(--text-em);">Instagram</a>!
            <br/><br/>
            In my free time, I am also an artistic swimming performer and street dance enthusiast :))
            <br/> <br/> 
            <a href="/posts/plots/" style="color:var(--text-em)">Link to interesting visual things (☆∀☆)</a>
            <br/> 
          </p>
        </div> 
      </div>
    </div>
    
    <script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
    </script>