#intro {
    height: calc(100vh - 4rem); /* subtract navbar*/
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    color: var(--text);
}

.bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 30vh;
}

.introContent{
    height: 70vh;
    width: 100vw;
    padding: 10vh 7px;
    /* font-weight: 700; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    align-items: center;
}

.introPara{
    padding: 20px;
}

.introImg {
    height: 240px;
}

.column {
    float: none;
    padding: 20px;
    box-sizing: border-box;
}

.left {
    width: 30%;
}

.right {
    width: 50%;
}

.socialIcons {
    padding: 12px 0;
}

.socialIcon {
    padding: 0 10px;
}

.socialIconImg {
    height: 30px;
    width: 30px;
    /* padding: 0 2px; */
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
    }
}
